<header>
  <div class="content text-center wow fadeIn">

    <a href="index.html">
      <img class="brand wow zoomIn" alt="Brandon Joyce" height="160" width="160" src="//secure.gravatar.com/avatar/dc45352908dbb9a4c9299c1ffe84ebf2?secure=true" />
    </a>

    <h1>{{site.title}}</h1>
    <p>{{site.description}}</p>
    <p>
    <a href="#open" class="toggle-fullscreen btn btn-default btn-outline btn-lg wow tada hidden-xs hidden-sm">Blog</a>
    <a href="about.html" class="btn btn-outline btn-default btn-lg">About</a>
    <a href="contact.html" class="btn btn-outline btn-default btn-lg">Contact</a>
    </p>
  </div>
</header>
